<!DOCTYPE html>
<html lang="en">

<head th:replace="/fragments/head"></head>
<body>

    <nav th:replace="/fragments/nav :: nav-admin"></nav>

    <div class="container-fluid">

            <h1 class="display-2">Add a yarn</h1>
            <a href="/admin/yarns" class="btn btn-primary mb-5">Back to yarns</a>
        <div th:if="${message}" style="font: status-bar" th:text="${message}" th:class="${'alert' + alertClass}"></div>

            <form method="post" th:object="${yarn}" th:action="@{/admin/yarns/add}">

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    There are errors</div>

                <div class="form-group">
                    <label for="">Yarn name</label>
                    <input type="text" class="form-control" th:field="*{name}" placeholder="Name">
                    <span class="error" style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>

                <div class="form-group">
                    <label for="">Description</label>
                    <textarea class="form-control p-1 mb-3" th:field="*{description}" rows="10" placeholder="Description"></textarea>
                    <span class="error" style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                </div>

                <button class="btn btn-danger">Add</button>
            </form>
    </div>

    <div th:replace="/fragments/footer.html"></div>
</body>
</html>